* {
	box-sizing: border-box;
}
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

img, video {
	max-width: 100%;
}

/* Top navigation bar */
#top {
	padding: 1em;
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
#logo img {
	width: auto;
	max-height: 3.5em;
}
#title h1,
#title p {
	padding: 0;
	margin: 0;
}

/* Main page content (navigation + content) */
#container {
	display: flex;
	flex-grow: 1;
}
#sidebar {
	flex: 0 1 auto;
	padding: 1em;
	padding-top: 0em;
}
#sidebar .menu {
	align-self: flex-start;
	top: 0;
}
.scroller {
  overflow: auto;
}
#content {
	flex: 3;
	padding: 1em;
	padding-top: 0em;
}
@media(max-width: 767px) {
	#sidebar {
		display: none;
	}
}

/* Misc */
img[src$="center"] {
  display:block;
  margin: 0 auto;
}
