html, body {
	background: rgb(35, 35, 35);
	color: rgb(220, 220, 220);
	font-family: Roboto;
}

a {
	color: rgb(70, 145, 210);
}

/* ================ Tables ================ */
table {
	border: 1px solid rgb(56, 56, 56);
	padding: 0;
	border-spacing:0; 
	border-collapse: collapse;
}
table thead {
	text-align: left;
	vertical-align: bottom;
	background: rgb(80, 80, 80);
	color: white;
}
table tr th {
	padding: 0.5em;
}
table tr td {
	padding: 0.5em;
}
table tr:nth-child(2n) {
	background: rgba(0, 0, 0, 0.1);
}
table tr td {
	border-left: 1px solid rgb(56, 56, 56);
}
table tr td:first-child {
	border-left: none;
}

/* ================ Code ================ */
code {
	border: 1px solid rgb(56, 56, 56);
	background: rgb(28, 28, 28);
	border-radius: 0.2em;
	counter-reset: line;
	
	padding: 1px;
	padding-left: 3px;
	padding-right: 3px;
	
	/* For code blocks, only allow horizontal scrolling 
	   Vertical space is always correct. */
	overflow-y: hidden;
	overflow-x: auto;
}
pre code {
	border: none;
	background: inherit;
	padding: 0;
	background: rgb(28, 28, 28);
}
.rouge-table {
	background: rgb(28, 28, 28);
}
.rouge-gutter {
	border-right: 1px solid rgb(56, 56, 56);
}
/* Code wrapper that contains a table */
div pre code {
	box-sizing: border-box;
	display: block;
	border: 1px solid rgb(56,56,56);
}
.rouge-table {
	border: none;
}

/* ================ Layout ================ */
#top, 
#sidebar {
	background: rgb(28, 28, 28);
}
#content {
	border-top:  1px solid rgb(66, 66, 66);
	border-left: 1px solid rgb(66, 66, 66);
	background: rgb(35, 35, 35);
}
.menu h3 {
	margin-bottom: -0.6em;
}
.menu ul {
	margin-left: -1.4em;
}
.menu ul li {
	padding-bottom: 0.4em;
}
.menu ul li a {
	display: block;
	width: 100%;
}
.menu ul li::marker {
	content: "";
}
